@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes play{
  0% {bottom:25px}
  50% {bottom:10px}
  100% {bottom:25px}
}
