.clear { clear: both; }

.heading {
  -webkit-user-select: none;
  color: white;
  font-size: 50px;
  font-weight: 700;
  left: calc(50% - 370px);
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  top: 30px;
  user-select: none;
  z-index: 100;
}

.big-spinner {
  background-image: url('../images/spinner.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  left: calc(50% - 200px);
  position: absolute;
  top: calc(50% - 200px);
  width: 400px;
}

.small-spinner {
  background-image: url('../images/spinner.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 20px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 20px;
  z-index: 30;
  &.loading {
    display: block;
  }
}