<div class="error-wrapper">
    You are seeing this page, because an error has occured. <br />
    Try to <a href="#" data-ng-click="errorCtrl.destroy( $event )">destroy session</a> and login again.
</div>