<div class="login-wrapper">

    <div class="form-wrapper">
        <form action="">
            <label for="login_value">Login: </label> <br />
            <input
                    data-ng-model="loginCtrl.login"
                    id="login_value"
                    name="login"
                    placeholder="Login"
                    type="text"/>
            <br /><br />

            <label for="pass_value">Password: </label> <br />
            <input
                    type="password"
                    name="pass"
                    id="pass_value"
                    placeholder="Password"
                    data-ng-model="loginCtrl.pass" />
            <br /><br />

            <input
                    type="submit"
                    value="Login"
                    data-ng-click="loginCtrl.submit( $event )"
            />
        </form> <br />

        <span class="invalid"
              data-ng-show="loginCtrl.incorrectCredentials">
            Incorrect credentials!
        </span> <br /><br />

        Do not have an account yet?<br />
        <a href="/#/signup">Sign up!</a>
    </div>

    <div class="heading">
        Timezone management system
    </div>

</div>

<div class="cookie-info" data-ng-hide="loginCtrl.cookieConfirmed">
    <div class="text">
        Site uses cookie.
    </div>

    <button
            class="cookie-button"
            data-ng-click="loginCtrl.confirmCookie( $event )"
    >
        OK
    </button>
    <div class="clear"></div>
</div>

<div class="small-spinner"
    data-ng-class="{loading: loginCtrl.requestLoading}"
>
</div>