<div class="panel-wrapper" data-ng-hide="panelCtrl.loading">

    <!--LISTING TIMEZONES-->
    <div class="timezones-wrapper"
        data-ng-hide="panelCtrl.editModeUsers"
    >
        <div class="filter-box">
            <input
                    type="text"
                    data-ng-model="panelCtrl.TzNameFilter"
                    id="tzNameFilter"
                    placeholder="Filter by name"
            />

        </div>

        <div
                class="timezone-box"
                data-ng-class="{ownedByUser: timezone.belongsToCurrentUser, editMode: panelCtrl.editMode, isManager: panelCtrl.isUserAManager}"
                data-ng-repeat="timezone in panelCtrl.timezones | orderBy: 'name' | filter: {'name': panelCtrl.TzNameFilter} track by timezone._id"
        >
            <div class="name" data-ng-bind="timezone.name"></div>
            <div class="city" data-ng-bind="timezone.nameOfACity"></div>
            <div class="moment" data-ng-bind="timezone.moment"></div>
            <div class="diff" data-ng-bind="'GMT' + timezone.sign"></div>
            <div class="ownership"
                 data-ng-show="panelCtrl.editMode && panelCtrl.userIsAdmin"
                data-ng-bind="timezone.ownerText"
            >
            </div>

            <div
                    class="delete-btn action-btn"
                    data-ng-show="panelCtrl.editMode"
                    data-ng-click="panelCtrl.removeTimezone( timezone )"
            ></div>
            <div
                    class="edit-btn action-btn"
                    data-ng-show="panelCtrl.editMode"
                    data-ng-click="panelCtrl.editTimezoneDialogOn( timezone )"
            ></div>
            <div class="clear"></div>


        </div>
        <div class="clear"></div>
    </div>
    <!--/ LISTING TIMEZONES-->

    <!--LISTING USERS-->
    <div class="users-wrapper"
         data-ng-show="panelCtrl.editModeUsers"
    >
        <div class="filter-box">
            <input
                    type="text"
                    data-ng-model="panelCtrl.UserNameFilter"
                    placeholder="Filter by name"
            />
        </div>

        <div
                class="user-box"
                data-ng-repeat="user in panelCtrl.users | orderBy: 'login' | filter: panelCtrl.UserNameFilter track by user._id"
        >
            <div class="login" data-ng-bind="user.login"></div>
            <div class="firstName" data-ng-bind="user.firstName"></div>
            <div class="lastName" data-ng-bind="user.lastName"></div>
            <div
                    class="delete-btn action-btn"
                    data-ng-show="panelCtrl.editModeUsers"
                    data-ng-click="panelCtrl.removeUser( user )"
            ></div>
            <div
                    class="edit-btn action-btn"
                    data-ng-show="panelCtrl.editModeUsers"
                    data-ng-click="panelCtrl.editUserDialogOn( user )"
            ></div>
            <div class="clear"></div>

        </div>
        <div class="clear"></div>
    </div>
    <!-- /LISTING USERS-->


    <div class="heading">
        Timezone management system
    </div>

    <div class="top-right-management">
        Hi {{ panelCtrl.firstName }}!
        <ul>
            <li>
                <a href="#"
                   data-ng-click="panelCtrl.logout( $event )">
                    Log out
                </a> <br />

                <a href="#"
                   data-ng-click="panelCtrl.showNewTimezoneDialog( $event )"
                    id="showNewTimezoneDialog"
                >
                    Create a new timezone
                </a>
                <br />

                <a href="#"
                   data-ng-hide="panelCtrl.editMode"
                   data-ng-if="!panelCtrl.editModeUsers"
                   data-ng-click="panelCtrl.editModeOn( $event )"
                    id="editTimezones"
                >
                    Edit timezones
                </a>

                <a href="#"
                   data-ng-show="panelCtrl.editMode"
                   data-ng-if="!panelCtrl.editModeUsers"
                   data-ng-click="panelCtrl.editModeOff( $event )">
                    Finish editing
                </a>
                <br data-ng-if="!panelCtrl.editModeUsers"/>

                <a href="#"
                   data-ng-hide="panelCtrl.editModeUsers"
                   data-ng-if="panelCtrl.isUserAManager"
                   data-ng-click="panelCtrl.editModeUsersOn( $event )">
                    Edit users
                </a>

                <a href="#"
                   data-ng-show="panelCtrl.editModeUsers"
                   data-ng-if="panelCtrl.isUserAManager"
                   data-ng-click="panelCtrl.editModeUsersOff( $event )">
                    Finish editing users
                </a>
                <br />

                <a href="#"
                   data-ng-if="panelCtrl.isUserAManager"
                   data-ng-click="panelCtrl.showNewUserDialog( $event )">
                    Create a new user
                </a>
                <br />

            </li>
        </ul>

    </div>

    <!--NEW USER DIALOG-->
    <div
            class="new-user-dialog"
            data-ng-show="panelCtrl.newUserDialogVisible"
    >
        <div class="header">Create a new user</div> <br />
        <div
                class="close-btn"
                data-ng-click="panelCtrl.hideNewUserDialog( $event )"
        ></div>

        <form action="#">
            <label for="new_user_login">Login: </label> <br />
            <input
                    type="text"
                    name="new_user_login"
                    id="new_user_login"
                    placeholder="Login"
                    data-ng-model="panelCtrl.newUserLogin"
                    required
            /> <br /><br />

            <label for="new_user_first_name">First name: </label> <br />
            <input
                    type="text"
                    name="new_user_first_name"
                    id="new_user_first_name"
                    placeholder="First name"
                    data-ng-model="panelCtrl.newUserFirstName"
                    required/> <br /><br />

            <label for="new_user_last_name">Last name: </label> <br />
            <input
                    type="text"
                    name="new_user_last_name"
                    id="new_user_last_name"
                    placeholder="Last name"
                    data-ng-model="panelCtrl.newUserLastName"
                    required/> <br /><br />

            <label for="new_user_pass">Password: </label> <br />
            <input
                    type="password"
                    name="new_user_pass"
                    id="new_user_pass"
                    placeholder="Password"
                    data-ng-model="panelCtrl.newUserPass"
                    required
            /> <br /><br />

            <label for="new_user_pass2">Repeat password: </label> <br />
            <input
                    type="password"
                    name="new_user_pass2"
                    id="new_user_pass2"
                    placeholder="Password"
                    data-ng-model="panelCtrl.newUserPass2"
                    required
            /> <br /><br />

            <label for="new_user_access_level">Access level: </label> <br />
            <select
                    ng-model="panelCtrl.accessLevel"
                    id="new_user_access_level"
                    ng-options="ac.name for ac in panelCtrl.accessLevels track by ac.id"
                    required
            >
            </select>
            <br /> <br />

            <input
                    type="submit"
                    value="Create"
                    data-ng-click="panelCtrl.validateAndCreateAUser( $event )"
            />
        </form> <br />

        <div
                class="new-user-validation"
                data-ng-show="panelCtrl.invalidNewUserData"
                >
            All fields are required. Passwords need to match. Login needs to be unique.
        </div>
    </div>
    <!--/NEW USER DIALOG-->

    <!--EDIT USER DIALOG-->
    <div
            class="edit-user-dialog"
            data-ng-show="panelCtrl.editUserDialogVisible"
    >
        <div class="header">Edit a user</div> <br />
        <div
                class="close-btn"
                data-ng-click="panelCtrl.hideEditUserDialog( $event )"
        ></div>

        <form action="#">
            <label for="edit_user_login">Login: </label> <br />
            <input
                    type="text"
                    name="edit_user_login"
                    id="edit_user_login"
                    placeholder="Login"
                    data-ng-model="panelCtrl.editUserLogin"
                    required
            /> <br /><br />

            <label for="edit_user_first_name">First name: </label> <br />
            <input
                    type="text"
                    name="edit_user_first_name"
                    id="edit_user_first_name"
                    placeholder="First name"
                    data-ng-model="panelCtrl.editUserFirstName"
                    required/> <br /><br />

            <label for="edit_user_last_name">Last name: </label> <br />
            <input
                    type="text"
                    name="edit_user_last_name"
                    id="edit_user_last_name"
                    placeholder="Last name"
                    data-ng-model="panelCtrl.editUserLastName"
                    required/> <br /><br />

            <label for="edit_user_pass">Password: </label> <br />
            <input
                    type="password"
                    name="edit_user_pass"
                    id="edit_user_pass"
                    placeholder="Password"
                    data-ng-model="panelCtrl.editUserPass"
                    required
            /> <br /><br />

            <label for="edit_user_pass2">Repeat password: </label> <br />
            <input
                    type="password"
                    name="edit_user_pass2"
                    id="edit_user_pass2"
                    placeholder="Password"
                    data-ng-model="panelCtrl.editUserPass2"
                    required
            /> <br /><br />

            <label for="edit_user_access_level">Access level: </label> <br />
            <select
                    data-ng-model="panelCtrl.accessLevelEdit"
                    id="edit_user_access_level"
                    data-ng-options="ac.name for ac in panelCtrl.accessLevels track by ac.id"
                    required
            >
            </select>
            <br /> <br />

            <input
                    type="submit"
                    value="Modify an user"
                    data-ng-click="panelCtrl.validateAndEditAUser( $event )"
            />
        </form> <br />

        <div
                class="edit-user-validation"
                data-ng-show="panelCtrl.invalidEditUserData"
        >
            All fields are required. Passwords need to match. Login needs to be unique.
        </div>
    </div>
    <!--/EDIT USER DIALOG-->

    <!--NEW TIMEZONE DIALOG-->
    <div
            class="new-timezone-dialog"
            data-ng-show="panelCtrl.newTimezoneDialogVisible"
    >
        <div class="header">Create a new timezone</div> <br />
        <div
                class="close-btn"
                data-ng-click="panelCtrl.hideNewTimezoneDialog( $event )"
        ></div>

        <form action="#">
            <label for="name_value">Name: </label> <br />
            <input
                    type="text"
                    name="timezone_name"
                    id="name_value"
                    placeholder="Name"
                    data-ng-model="panelCtrl.newTimezoneName"
                    required
            /> <br /><br />

            <label for="diff_value">Differenct to GMT (UCT): </label> <br />
            <input
                    type="number"
                    name="timezone_diff"
                    id="diff_value"
                    placeholder="Offset"
                    data-ng-model="panelCtrl.newTimezoneDiff"
                    min="-12"
                    max="12"
                    required/> <br /><br />

            <label for="city_value">City: </label> <br />
            <input
                    type="text"
                    name="timezone_city"
                    id="city_value"
                    placeholder="City"
                    data-ng-model="panelCtrl.newTimezoneCity"
                    required
            /> <br /><br />

            <input
                    type="submit"
                    value="Create"
                    id="validateAndCreateTimezone"
                    data-ng-click="panelCtrl.validateAndCreateTimezone( $event )"
            />
        </form> <br />

        <div
                class="new-timezone-validation"
                data-ng-show="panelCtrl.invalidNewTimezoneData"
        >
            All fields are required. <br />
            -12 <= difference <= 12
        </div>
    </div>
    <!--/NEW TIMEZONE DIALOG-->

    <!--EDIT TIMEZONE DIALOG-->
    <div
            class="edit-timezone-dialog"
            data-ng-show="panelCtrl.editTimezoneDialogVisible"
    >
        <div class="header">Edit a timezone</div> <br />
        <div
                class="close-btn"
                data-ng-click="panelCtrl.hideEditTimezoneDialog( $event )"
        ></div>

        <form action="#">
            <label for="name_value_edit">Name: </label> <br />
            <input
                    type="text"
                    name="timezone_name"
                    id="name_value_edit"
                    placeholder="Name"
                    data-ng-model="panelCtrl.editTimezoneName"
                    required
            /> <br /><br />

            <label for="diff_value_edit">Differenct to GMT (UCT): </label> <br />
            <input
                    type="number"
                    name="timezone_diff"
                    id="diff_value_edit"
                    placeholder="Offset"
                    data-ng-model="panelCtrl.editTimezoneDiff"
                    min="-12"
                    max="12"
                    required/> <br /><br />

            <label for="city_value_edit">City: </label> <br />
            <input
                    type="text"
                    name="timezone_city"
                    id="city_value_edit"
                    placeholder="City"
                    data-ng-model="panelCtrl.editTimezoneCity"
                    required
            /> <br /><br />

            <input
                    type="submit"
                    value="Update this timezone"
                    id="validateAndUpdateTimezone"
                    data-ng-click="panelCtrl.validateAndUpdateTimezone( $event )"
            />
        </form> <br />

        <div
                class="edit-timezone-validation"
                data-ng-show="panelCtrl.invalidEditTimezoneData"
        >
            All fields are required. <br />
            -12 <= difference <= 12
        </div>
    </div>
    <!--/EDIT TIMEZONE DIALOG-->

</div>

<div class="big-spinner" data-ng-show="panelCtrl.loading">
</div>

<div class="small-spinner"
     data-ng-class="{loading: panelCtrl.countOfActiveRequests > 0 && !panelCtrl.loading}"
>
</div>