<div class="signup-wrapper">

    <div class="form-wrapper">
        <form action="" >
            <label for="login_value">Login: </label> <br />
            <input
                    type="text"
                    name="login"
                    id="login_value"
                    placeholder="Login"
                    data-ng-model="signupCtrl.login"
                    required/>
            <br /><br />

            <label for="first_name_value">First name: </label> <br />
            <input
                    type="text"
                    name="firstName"
                    id="first_name_value"
                    placeholder="First name"
                    data-ng-model="signupCtrl.firstName"
                    required />
            <br /><br />

            <label for="last_name_value">Last name: </label> <br />
            <input
                    type="text"
                    name="lastName"
                    id="last_name_value"
                    placeholder="Last name"
                    data-ng-model="signupCtrl.lastName"
                    required/>
            <br /><br />

            <label for="pass_value">Password: </label> <br />
            <input
                    type="password"
                    name="pass"
                    id="pass_value"
                    placeholder="Password"
                    data-ng-model="signupCtrl.pass"
                    required/>
            <br /><br />

            <label for="pass_value">Repeat password: </label> <br />
            <input
                    type="password"
                    name="pass2"
                    id="pass_value2"
                    placeholder="Password"
                    data-ng-model="signupCtrl.pass2"
                    required/>
            <br /><br />

            <input
                    type="submit"
                    value="Submit"
                    data-ng-click="signupCtrl.submit( $event )"
            />
        </form>
        <div class="invalid-credentials"
             data-ng-show="signupCtrl.invalidCredentials">
            All fields are required. Passwords need to match. Login needs to be unique.
        </div> <br />

        Already have an account? <br />
        <a href="/#/login">Log in!</a>
    </div>

    <div class="heading">
        Timezone management system
    </div>

</div>

<div class="small-spinner"
     data-ng-class="{loading: signupCtrl.requestLoading}"
>
</div>