$form-wrapper-height: 230px;
$form-wrapper-width: 230px;

$z-index-login-wrapper: 10;
$z-index-cookie-info: 12;

.login-wrapper {
  background-attachment: fixed;
  background-image: url('../images/cover1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: $z-index-login-wrapper;

  .form-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    height: $form-wrapper-height;
    left: calc(50% - #{$form-wrapper-width}/2);
    padding: 15px;
    position: absolute;
    top: calc(50% - #{$form-wrapper-height}/2);
    width: $form-wrapper-width;

    .invalid {
      color: blue;
      font-weight: 700;
    }
  }
}

.cookie-info {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  bottom: -8px;
  height: 30px;
  max-width: 230px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: $z-index-cookie-info;

  .text {
    color: white;
    display: inline-block;
    float: left;
    margin-left: 30px;
  }

  .cookie-button {
    display: inline-block;
    float: left;
    margin-left: 30px;
  }
}