$z-index-management: 101;
$z-index-panel-wrapper: 10;

$central-background: rgba(255, 255, 255, 0.7);
$management-color: $central-background;
$new-timezone-dialog-color: rgb(248, 250, 251);

$central-border-radius: 10px;
$management-border-radius: $central-border-radius;

$new-timezone-dialog-height: 300px;
$new-timezone-dialog-width: 200px;

$new-user-dialog-height: 520px;

.panel-wrapper {
  background-attachment: fixed;
  background-image: url('../images/cover3.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: $z-index-panel-wrapper;

  //CRUD DIALOGS
  div.new-user-dialog,
  div.edit-user-dialog {
    height: $new-user-dialog-height;
    top: calc(50% - #{$new-user-dialog-height}/2);
  }
  .new-timezone-dialog, .edit-timezone-dialog,
  .new-user-dialog, .edit-user-dialog {
    background-color: $new-timezone-dialog-color;
    border-radius: 10px;
    height: $new-timezone-dialog-height;
    left: calc(50% - #{$new-timezone-dialog-width}/2);
    padding: 15px;
    position: absolute;
    top: calc(50% - #{$new-timezone-dialog-height}/2);
    width: $new-timezone-dialog-width;

    .header {
      font-weight: 600;
      text-align: center;
    }

    .new-timezone-validation, .edit-timezone-validation,
    .new-user-validation, .edit-user-validation {
      color: blue;
      font-weight: 700;
    }
    
    .close-btn {
      background-image: url(../images/escButton.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      cursor: pointer;
      height: 50px;
      position: absolute;
      right: -25px;
      top: -25px;
      width: 50px;
      z-index: 1501;
    }

    #diff_value, #diff_value_edit,
    #edit_user_access_level, #new_user_access_level {
      width: 166px;
    }
  }
  // /CRUD DIALOGS

  .top-right-management {
    background: $management-color;
    border-radius: $management-border-radius;
    min-width: 200px;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-management;

    ul {
      list-style-type: none;
      padding-left: 0;
      li {

      }
    }
  }

  .timezones-wrapper, .users-wrapper {
    background-color: $central-background;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 200px;
    margin-right:auto;
    margin-left:auto;
    min-height: 300px;
    padding: 15px;
    position: relative;
    width: 80%;

    .filter-box {
      width: 100%;

      input {
        display: block;
        margin: 0 auto;
        min-width: 180px;
        padding: 5px;
      }
    }

    .timezone-box, .user-box {
      display: block;
      float: left;
      margin: 30px;
      position: relative;
      
      &.ownedByUser.editMode.isManager {
        .ownership {
          color: green;
          font-weight: 600;
        }
      }

      .name, .login {
        font-weight: 600;
        text-align: center;
      }

      .action-btn {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: block;
        float: left;
        height: 40px;
        position: relative;
        width: 40px;
      }

      .delete-btn {
        background-image: url('../images/delete-btn.png');
      }

      .edit-btn {
        background-image: url('../images/edit-btn.png');
        height: 35px;
        margin-top: 2.5px;
        width: 35px;
      }
    }
  }
}

