$signup-form-wrapper-height: 470px;
$signup-form-wrapper-width: 170px;

.signup-wrapper {
  background-attachment: fixed;
  background-image: url('../images/cover2.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
  width: 100%;

  .form-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    height: $signup-form-wrapper-height;
    left: calc(50% - #{$signup-form-wrapper-width}/2);
    padding: 15px;
    position: absolute;
    top: calc(50% - #{$signup-form-wrapper-height}/2);
    width: $signup-form-wrapper-width;

    .invalid-credentials {
      color: blue;
      font-weight: 700;
    }
  }
}